.container{
    height: 300px;
    width:550px;
    border:2px solid black;
    padding: 20px;
    margin: auto;
    display: grid;
    background-color: aqua;
}
body{
    background-color: black;
    align-items: center;
    justify-content: center;
    padding: 75px;
}
h1{
    color: white;
}



